.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35; /*Perqindja e zones qe ze "sidebar" ne ekran(35%).*/
}

.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 30px;
}

.sidebar_searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
  flex: 1;
}

.sidebar_searchContainer > .MuisvgIcon-root {
  color: grey;
  padding: 10px;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-right: 1px solid lightgray;
}

.sidebar_chats {
  background-color: white;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar_headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar_headerRight > .MuisvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
